*{
    color: white;
    font-size: 20px;
}

#main{
    background-color: black;
    height: 60px;
    padding-top: 10px;
}

.same{
    margin-left: 200px;
}

#span{
    color: black;
    background-color: orange;
    /* padding: 10px; */
    margin-top: 50px;
    /* display: none;
    visibility: hidden; */
}

#div{
    color: black;
    background-color: rgba(255, 166, 0, 0.642);
    /* display: none; */
    /* visibility: hidden; */
}